{% extends "base_std.html" %}
{% block title %} - Graph{% endblock %}
{% block content %}
<h3>{{ error }}</h3>
<a href="/graph/{{username}}/7">7 Days</a> |
<a href="/graph/{{username}}/30">30 Days</a> |
<a href="/graph/{{username}}/90">90 Days</a> |
<a href="/graph/{{username}}/365">Year</a> |
<a href="/graph/{{username}}/9000">All</a>
<br/><input type='checkbox' name='lean_mass' checked='checked' id='lm'></input><label for='lm'>Show Lean Mass</label>
<div id="placeholder" style="width:100%;height:800px"></div>
<p>Weight Change For Period: <span class="weight-change"></span>{{ metric|yesno:"kg,lbs" }} Caloric Defecit: <span class="defecit"></span>
<!-- Graph data -->
<!-- Flot -->
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/public/flot/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/public/flot/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static/public/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/public/flot/jquery.flot.threshold.js"></script>
<script language="javascript" type="text/javascript" src="/static/public/flot/jquery.flot.time.js"></script>
<script language="javascript" type="text/javascript" src="/static/public/flot/jquery.flot.fillbetween.js"></script>
<script language="javascript" type="text/javascript" src="/static/public/flot/jquery.flot.resize.js"></script>
<script language="javascript" type="text/javascript" src="/static/public/date.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/graph.js"></script>
<script type="text/javascript">
var input=[
{% for entry in log %}['{{ entry.log_date|date:"n/d/Y" }}', {{ entry.weight }}, {{ entry.trend}}, {{ entry.body_fat }}, {{ entry.user_inputed|yesno:"true,false" }} ],
{% endfor %}

];
plotData(input,{{ metric|yesno:"1,0" }});
</script>
	

{% endblock %}

