{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<h1>Please Pardon Our Dust</h1>
<p>We are working hard on getting things ready for a public beta.  Currently we are still in alpha stage.  Keep checking back often to see how we have progressed.</p>
<form method="LINK" action="/">
<button type="submit" class="btn btn-primary btn-lg">learn more</button>
</form>
{% endblock %}
