<form class="navbar-form form-inline navbar-right" action="/login/" method="post" role="login">
	{% csrf_token %}
	<div class="form-group">
		<label class="sr-only" for="inputUsername">Username:</label>
		<input type="text" class="form-control input-sm text-light" id="inputUsername" name="username" placeholder="Username"></input>
	</div><!-- form-group -->
	<div class="form-group">
		<label class="sr-only" for="inputPassword">Password:</label>
		<input type="password" class="form-control input-sm text-light" id="inputPassword" name="password" placeholder="Password"></input>	
	</div><!-- form-group -->
	<button type="submit" class="btn btn-outline-light " value="Login">Sign in</button>
</form>

<!--  <a href="/register/">Signup</a> -->
<!--btn-default btn-sm-->