{% extends "base_std.html" %}

{% block title %}- Create an account{% endblock %}

{% block content %}
  <h1>Create an account</h1>

  <form action="" method="post" class="form-horizontal" role="form">
	{% csrf_token %}
	<div class="form-group row">
		<label for="id_username" class="col-sm-2 col-form-label">Username</label> 
		<div class="col-sm-10">
			<input class="form-control" type="text" id="id_username" placeholder="Username" maxlength="30" name="username" {% if form.is_bound %}value="{{form.username.value}}"{%endif%} />
			<span class="help-block text-muted form-text"> 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>{{form.username.errors}}
		</div>
	</div>
	<div class="form-group row">
		<label for="id_password1" class="col-sm-2 col-form-label">Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="id_password1" placeholder="Password" name="password1" maxlength="4096"/> {{form.password1.errors}}
		</div>
	</div>
	<div class="form-group row">
		<label for="id_password2" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="id_password2" placeholder="Confirm Password" name="password2" maxlength="4096"/> 
			<span class="help-block text-muted form-text">Enter the same password as above, for verification.</span>{{form.password2.errors}}
		</div> 
	</div>
	<div class="form-group row">
		<label for="id_email" class="col-sm-2 col-form-label">Email</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" maxlength="75" id="id_email" placeholder="Email@email.com" {% if form.is_bound %}value="{{form.email.value}}"{%endif%}/> {{form.email.errors}}
		</div>
  </div>
  
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="id_first_name">First Name</label>
			<input type="text" class="form-control" id="id_first_name" placeholder="John" maxlength="30" {% if form.is_bound %}value="{{form.first_name.value}}"{%endif%} /> {{form.first_name.errors}}
		</div>
		<div class="form-group col-md-6">
			<label for="id_last_name">Last Name</label>
			<input type="text" class="form-control" id="id_last_name" placeholder="Smith" maxlength="30" {% if form.is_bound %}value="{{form.last_name.value}}"{%endif%}  /> {{form.last_name.errors}}
		</div>
  </div>
  
  <div class="form-row">
		<div class="form-group col-sm-5">
			<label for="id_weight">Goal Weight</label>
			<input type="text" class="form-control" name="weight" id="id_weight" placeholder="Goal Weight" maxlength="30" {% if form.is_bound %}value="{{form.weight.value}}"{%endif%} /> {{form.weight.errors}}
		</div>
		<div class="form-group col-sm-5">
			<label for="id_height">Height</label>
			<input type="text" name="height" class="form-control" id="id_height" placeholder="Height" maxlength="30"  {% if form.is_bound %}value="{{form.height.value}}"{%endif%}  /> {{form.height.errors}}
		</div>
		<div class="form-group col-sm-2  col-lg-1">
			<label for="id_metric">Metric/Imperial</label>
			<select id="id_metric" name="metric">
				<option value="True" {% if form.metric.value == "True" %}selected="selected"{%endif%}>Kg/cm</option>
				<option value="False" {% if form.metric.value == "False" %}selected="selected"{%endif%}>Lb/in</option>
			</select> {{form.metric.errors}}
		</div>
  </div>
  
  <div class="form-row">
	<label class="col-sm-3 col-lg-2">Birthday(optional)</label>
	<select class="col-sm-3"id="month"
          name="month" />
    <option>January</option>      
    <option>February</option>      
    <option>March</option>      
    <option>April</option>      
    <option>May</option>      
    <option>June</option>      
    <option>July</option>      
    <option>August</option>      
    <option>September</option>      
    <option>October</option>      
    <option>November</option>      
    <option>December</option>      
  </select> 
  <select class="col-sm-3"id="day"
          name="day" />
    <option>1</option>      
    <option>2</option>      
    <option>3</option>      
    <option>4</option>      
    <option>5</option>      
    <option>6</option>      
    <option>7</option>      
    <option>8</option>      
    <option>9</option>      
    <option>10</option>      
    <option>11</option>      
    <option>12</option>      
    <option>13</option>      
    <option>14</option>      
    <option>15</option>      
    <option>16</option>      
    <option>17</option>      
    <option>18</option>      
    <option>19</option>      
    <option>20</option>      
    <option>21</option>      
    <option>22</option>      
    <option>23</option>      
    <option>24</option>      
    <option>25</option>      
    <option>26</option>      
    <option>27</option>      
    <option>28</option>      
    <option>29</option>      
    <option>30</option>      
    <option>31</option>      
  </select>
  <div class="col-sm-3">
			<button type="submit" name="create-account" value="Submit" class="btn btn-custom">Create Account</button>
	 </div> 
  </div>

</form>
<!--
Old Format

<table class="form-group">
	 <tr>
	  <th><label for="id_username" class="col-lg-1 control-label">Username:</label></th>
	  <td><input id="id_username" maxlength="30" name="username" type="text" {% if form.is_bound %}value="{{form.username.value}}"{%endif%} /></td>
	  <td><span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>{{form.username.errors}}</td>
	 </tr>
	 <tr>
     <th><label for="id_password1" class="col-lg-1 control-label">Password:</label></th>
     <td><input id="id_password1" maxlength="4096" name="password1" type="password" /></td>
     <td>{{form.password1.errors}}</td>
    </tr>
    <tr>
     <th><label for="id_password2" class="col-lg-1 control-label">Password confirmation:</label></th>
     <td><input id="id_password2" maxlength="4096" name="password2" type="password" /></td>
     <td><span class="helptext">Enter the same password as above, for verification.</span>{{form.password2.errors}}</td>
    </tr>
     <tr>
      <th><label for="id_email" class="col-lg-1 control-label">Email address:</label></th>
      <td><input id="id_email" maxlength="75" name="email" type="text" {% if form.is_bound %}value="{{form.email.value}}"{%endif%} /></td>
      <td>{{form.email.errors}}</td>
     </tr>
    <tr>
     <th><label for="id_first_name" class="col-lg-1 control-label">First name:</label></th>
     <td><input id="id_first_name" maxlength="30" name="first_name" type="text" {% if form.is_bound %}value="{{form.first_name.value}}"{%endif%} /></td>
     <td>{{form.first_name.errors}}</td>
    </tr>
    <tr>
     <th><label for="id_last_name" class="col-lg-1 control-label">Last name:</label></th>
     <td><input id="id_last_name" maxlength="30" name="last_name" type="text" {% if form.is_bound %}value="{{form.last_name.value}}"{%endif%} /></td>
     <td>{{form.last_name.errors}}</td>
    </tr>
    <tr>
     <th><label for="id_metric" class="col-lg-1 control-label">Kg/Lbs:</label>
     <td>
	 <select id="id_metric" name="metric">
	  <option value="True" {% if form.metric.value == "True" %}selected="selected"{%endif%}>Kg</option>
	  <option value="False" {% if form.metric.value == "False" %}selected="selected"{%endif%}>Lb</option>
     </select>
     </td>
     <td>{{form.metric.errors}}</td>
    </tr>
    <tr>
     <th><label for="id_weight" class="col-lg-1 control-label">Goal Weight:</label></th>
     <td><input id="id_weight" name="weight" type="text"  {% if form.is_bound %}value="{{form.weight.value}}"{%endif%} /></td>
     <td>{{form.email.errors}}</td>
    </tr>
    <tr>
     <th><label for="id_height" class="col-lg-1 control-label">Height:</label></th>
     <td><input id="id_height" name="height" type="text" placeholder="in/cm" {% if form.is_bound %}value="{{form.height.value}}"{%endif%} /></td>
     <td><span class="helptext">Please enter your height in inches or centimeters</span>{{form.height.errors}}</td>
    </tr>
    <tr>
     <th><label for="id_birthday" class="col-lg-1 control-label">Birthday (optional):</label></th>
     <td><input id="id_birthday" name="birthday" type="text"  {% if form.is_bound %}value="{{form.birthday.value}}"{%endif%} />(MM/DD/YYYY)</td>
     <td>{{form.birthday.errors}}</td>
    </tr>
    </table>
     <div class="col-lg-2">
			<button type="submit" name="create-account" value="Submit" class="btn btn-primary">Create Account</button>
	 </div> 
</form>
-->
{% endblock %}
