html,body {
	height: 100%;
}

#wrap {
	background: #40ffc6;
	//background-image: url("../img/FFFFFF-0.8.png"), url("../img/zen-drop-1.jpg");
	//background-image: url("../img/zen-light-1.png"), url("../img/zen-light-2.png");
	//background-repeat: repeat-x, repeat;
	background-repeat: no-repeat;
	background-size: cover;
	 background-position: 50% 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
}

#footer {
	clear: both;
	position: relative;
	height: 29px;
}
#footer {
	background-color: #f5f5f5;

}

.banner {
	height:150px;
	background: #000000;
	background-image: url("../img/zen-dark-1.png"), url("../img/zen-dark-2.png");
	background-repeat: repeat-x, repeat;
}
.pagination {
   justify-content: center;
}
.main-row {

	
}
.navbar{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) ;
}
input[id="inputPassword"] {
	 background-color:rgba(255,255,255,.20) !important;
}
input[id="inputUsername"] {
	 background-color:rgba(255,255,255,.20) !important;
}
.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C; //14 21 36
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
.main-content {
	height: 100%;
	//background: url("../img/FFFFFF-0.8.png") repeat;

	//box-shadow: 10px 0px 100px -7px rgba(0,0,0,0.5),	 -10px 0px 100px -7px rgba(0,0,0,0.5);
	padding-bottom: 9999999px;
	margin-bottom: -9999999px;
	padding-top:30px;
	padding-left:3px;
	padding-right:3px;
}
#home {
	text-align: center;
}
#home h1{
	
}
#home p{
	font-size: 18px;
	//font-style: bold;
}
#home .btn-primary {
	
	border-color: white;
	background-color: Transparent;
}
.splash-row{
	padding-top:25%;
	padding-bottom:25%;
	color: white;
	background-image: url("../img/FFFFFF-0.8.png"), url("../img/zen-drop-1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing:border-box;
	height: 100vh;
}
.btn-custom{
	background-color: #24355C;
	color: white;
}
.pushdown-nav{
	padding-top:70px;
}
.whitespace{
 margin-top: 70px;
}
.panel {
	background: url("http://1x1px.me/616161-0.2.png") repeat;
}

#inputUsername {
	width: 100px;
}

#inputPassword {
	width: 100px;
}

.large-font th{
	font-size: 200%;
}
.large-font td{
	font-size: 225%;
}
.large-font span{
	font-size: 75%;
}
.good {
	color: #00CC33;
}
.bad {
	color: red;
}
