{% extends "base.html" %}
{% block layout %}
<main class="container-fluid">
<div class="row splash-row justify-content-md-center">
	<div  >
	{% block splash %}{% endblock %}
	</div>
</div>
<div class="row main-row justify-content-md-center">
	<div class="col"></div>
	<div class="col-10" >
	{% block content %}{% endblock %}
	</div><!-- main-content -->
	<div class="col"></div>
</div><!-- row -->
</main>
{% endblock %}