{% extends "base.html" %}
{% block layout %}
<main class="container-fluid pushdown-nav">
<div class="row main-row ">
	<div class="col-md-2"></div>
	<div class="col-md-8" >
	{% block content %}{% endblock %}
	</div><!-- main-content -->
	<div class="col-md-2"></div>
</div><!-- row -->
</main>
{% endblock %}