{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Open Diet {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- Bootstrap -->
	<!--<link href="/static/public/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/static/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="{% static "css/custom.css" %}" rel="stylesheet" media="screen">
	{% block script %}{% endblock %}
</head>
<body>

{% include "nav.html" %}

{% block layout %}{% endblock %}
<main class="container-fluid">
<div class="row footer">
  <div class="col-md-12 text-center "><!--col-md-offset-2">-->
ad here
  </div>
	<div class="col-md-12" ><!--col-md-offset-2">-->
		<p class="text-center text-muted">Copyright RainDrop Software all rights reserved</p>
	</div>
</div>
</main>


<!-- Scripts need to be at the end -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
