{% extends "base_flow.html" %}
{% block title %} - Home{% endblock %}
{% block splash %}
<div id="home">
<h1>Losing Weight Should be Easy</h1>
<!--<p>If you eat fewer calories than your body burns you will lose weight, sounds simple right? But if you have ever tried to lose weight you know that is easier said than done.</p>
<h1>OpenDiet.net can help - for free.</h1>
<p>With OpenDiet you can track your weight loss without going crazy, we do the math for you and smooth out your input, we tell you how many calories your body burns over time.</p>
<h1>Get Started Today!</h1>
<ol>
<li><a href="/register/">Sign up</a> for a free OpenDiet.net account.</li>-->
<form method="LINK" action="/register/">
<button type="submit" class="btn btn-primary btn-lg">Sign up Now!</button>
</form>
</div>
{% endblock %}
{% block content %}
<!--<p>If you eat fewer calories than your body burns you will lose weight, sounds simple right? But if you have ever tried to lose weight you know that is easier said than done.</p>-->


<div class="jumbotron whitespace ">
  <h1 class="display-3">OpenDiet.net can help</h1>
  <p class="lead">With OpenDiet you can track your weight loss for free! 
  We do the math for you and smooth out your input, we tell you how many calories your body burns over time.</p>

  <hr class="my-4">
	<div class = "row"><!--make this part 2 columns with 4 rows-->
		<div class="col"><!--get started today!-->
			<div class="row card-body">
				<h1>Get Started Today!</h1>
			</div>
			<div class="row card-body ">
			<form method="LINK" action="/register/">
			<button type="submit" class="btn btn-custom btn-lg">Sign up Now!</button>
	</form>
			</div>
		</div>
		<div class="col  "><!--steps-->
			<div class = "row card card-body">
				1. Sign up for a free OpenDiet.net account.
			</div>
			<p></p>
			<div class = "row card card-body">
				2. Buy a scale ( if you don't already own one )
			</div>
			<p></p>
			<div class = "row card card-body">
				3. Weigh yourself every day, preferably at the same time each day.
			</div>
			<p></p>
			<div class = "row card card-body">
				4. Record your weight in our fitness log
			</div>
		</div>			
</div>
 <hr class="my-4">
  <p class="lead">
  Opendiet.net will chart your weight and show you how much you are losing and how many calories under your daily 
  calorie goal you are, and even if you don't have a calorie limit we can help by helping you guage the results of cutting 
  out a few callories at a time, or adding in exercise, all without counting any calories.
  </p>
</div>


{% endblock %}
<!--old stuff
<ol>
				<li><a href="/register/">Sign up</a> for a free OpenDiet.net account.</li>
				<li>Buy a scale ( if you don't already own one )</li>
				<li>Weigh yourself every day, preferably at the same time each day.</li>
				<li>Record your weight in our fitness log</li>
				</ol>
				<p>Opendiet.net will chart your weight and show you how much you are losing and how many calories under your daily calorie goal you are, and even if you don't have a calorie limit we can help by helping you guage the results of cutting out a few callories at a time, or adding in exercise, all without counting any calories.</p>
				<form method="LINK" action="/register/">
				<button type="submit" class="btn btn-primary btn-lg">Sign up Now!</button>
				</form>
				
				
				<div class="row row-eq-height">
				<div class="col">
					<h1>Get Started Today!</h1>
				</div>
				<div class = "col">
					1. <a href="/register/">Sign up</a> for a free OpenDiet.net account.
				</div>
		</div>
		<div class="row row-eq-height">
				<div class="col">
				</div>
				<div class = "col">
					2. Buy a scale ( if you don't already own one )
				</div>
		</div>
		<div class="row row-eq-height">
				<div class="col">
				<form method="LINK" action="/register/">
				<button type="submit" class="btn btn-primary btn-lg">Sign up Now!</button>
				</form>
				</div>
				<div class = "col">
					3. Weigh yourself every day, preferably at the same time each day.
				</div>
		</div>
		<div class="row row-eq-height">
				<div class="col">
				</div>
				<div class = "col">
					4. Record your weight in our fitness log
				</div>
		</div>
				
-->
