{% load base_extras %}
<header>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse" role="navigation">
					
	<div class="container">
	
			<!--Collapse Button-->
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-opendiet-collapse">
				<span class="navbar-toggler-icon"></span>
				<!--<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>-->			
			</button>
			
			<a class="navbar-brand" href="#">Open Diet</a>
			
			<!--Collapsible content-->
			<div class="collapse navbar-collapse navbar-opendiet-collapse">
			
				<!--links-->
				<ul class="nav navbar-nav mr-auto smooth-scroll">
					<li class="{% navactive request 'home overview' %} nav-item">
						<a class = "nav-link" href="/">Home </a>
					</li>
{% if user.is_authenticated %}
					<li class="{% navactive request 'graph' %} nav-item">
						<a class = "nav-link" href="/graph/{{user.username}}">Graph</a>
					</li>
					<li class="{% navactive request 'log' %} nav-item">
						<a class = "nav-link" href="/log/">Fitness Log</a>
					</li>
{% endif %}
					<li class="divider-vertical nav-item"></li>			
					<li><a class = "nav-link" href="#"> Blog</a></li>
				</ul>
{% if user.is_authenticated %}
					<ul class="nav navbar-nav  mr-auto smooth-scroll navbar-right">
						<li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
						<li class="nav-item"><a class = "nav-link" href="/userinfo/{{user.username}}">Settings</a></li>
					<ul>
{% else %}
{% include "registration/login.html" %}

					<ul class="nav navbar-nav navbar-right">
						<li class="{% navactive request 'register' %} nav-item"><a class = "nav-link" href="/register/">Sign up Now</a></li>
					<ul>
{% endif %}
			</div>
	</div>
</nav>
</header>

