{% extends "base_std.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<h1>Weight Loss Overview</h1>
<div class="well well-lg">
<table class="table large-font">
	<thead>
		<tr>
			<th></th>
			<th>Weight Change</th>
			<th>Calorie Defecit / Excess</th>
			<th>Estimated Goal Date</th>
		</tr>
	</thead>
	<tbody>
		<th>
			<td colspan="4">At least one entry is required before the Overview will work.  Try adding today's weight to your <a href="/fitnesslog/">Fitness Log.</a></td>
		</th>
	</tbody>
</table>
</div><!-- well -->
{% endblock %}
