{% extends "base_std.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<h1>Weight Loss Overview</h1>
<div class="well well-lg">
<table class="table large-font">
	<thead>
		<tr>
			<th></th>
			<th>Weight Change</th>
			<th>Calorie Defecit / Excess</th>
			<th>Estimated Goal Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><a href="/graph/{{user.username}}/7">7 Days</a></th>
			<td class="{{ day_7.up_or_down|yesno:"bad,good"}}"><span class="glyphicon glyphicon-arrow-{{ day_7.up_or_down|yesno:"up,down"}}"></span>
			{{ day_7.weight_delta}} {{ metric|yesno:"Kg,Lbs" }}
			</td>
			
			<td class="{{ day_7.up_or_down|yesno:"bad,good"}}"><span class="glyphicon glyphicon-arrow-{{ day_7.up_or_down|yesno:"up,down"}}"></span>
			{{ day_7.calories}}
			</td>
			
			<td>Coming Soon</td>
		</tr>
		<tr>
			<th><a href="/graph/{{user.username}}/30">30 Days</a></th>
			<td class="{{ day_30.up_or_down|yesno:"bad,good"}}"><span class="glyphicon glyphicon-arrow-{{ day_30.up_or_down|yesno:"up,down"}}"></span>
			{{ day_30.weight_delta}} {{ metric|yesno:"Kg,Lbs" }}
			</td>
			
			<td class="{{ day_30.up_or_down|yesno:"bad,good"}}"><span class="glyphicon glyphicon-arrow-{{ day_30.up_or_down|yesno:"up,down"}}"></span>
			{{ day_30.calories}}
			</td>
			
			<td>Coming Soon</td>
		</tr>	
		<tr>
			<th><a href="/graph/{{user.username}}/90">90 Days</a></th>
			<td class="{{ day_90.up_or_down|yesno:"bad,good"}}"><span class="glyphicon glyphicon-arrow-{{ day_90.up_or_down|yesno:"up,down"}}"></span>
			{{ day_90.weight_delta}} {{ metric|yesno:"Kg,Lbs" }}
			</td>
			
			<td class="{{ day_90.up_or_down|yesno:"bad,good"}}"><span class="glyphicon glyphicon-arrow-{{ day_90.up_or_down|yesno:"up,down"}}"></span>
			{{ day_90.calories}}
			</td>
			
			<td>Coming Soon</td>
		</tr>
	</tbody>
</table>
</div><!-- well -->
{% endblock %}
